/gamebuild
/library/tests/tikiunittest/build
/library/tools/commandlineconverter/build
/library/tools/genericdatacodegenerator/build
/library/tools/editor/build
/local/mastering/output
/local/game/build
