[submodule "blobs/lua"]
	path = blobs/lua
	url = git@github.com:lua/lua.git
[submodule "blobs/freetype"]
	path = blobs/freetype
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "blobs/trex"]
	path = blobs/trex
	url = git@github.com:kimperator/T-Rex.git
[submodule "blobs/sdl"]
	path = blobs/sdl
	url = git@github.com:zielmicha/SDL2.git
[submodule "blobs/box2d"]
	path = blobs/box2d
	url = https://github.com/erincatto/Box2D.git
[submodule "content"]
	path = content
	url = git@github.com:TikiTek/mechanica_content.git
[submodule "library"]
	path = library
	url = git@github.com:TikiTek/mechanica_library.git
[submodule "blobs/stb"]
	path = blobs/stb
	url = https://github.com/nothings/stb.git
[submodule "blobs/tinyxml2"]
	path = blobs/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
