[submodule "blobs/lua"]
	path = blobs/lua
	url = git@github.com:lua/lua.git
[submodule "blobs/freetype"]
	path = blobs/freetype
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "blobs/bullet"]
	path = blobs/bullet
	url = git@github.com:bulletphysics/bullet3.git
[submodule "blobs/trex"]
	path = blobs/trex
	url = git@github.com:kimperator/T-Rex.git
[submodule "blobs/mongoose"]
	path = blobs/mongoose
	url = git@github.com:cesanta/mongoose.git
[submodule "blobs/sdl"]
	path = blobs/sdl
	url = git@github.com:zielmicha/SDL2.git
